@media(max-width: 1200px) {

  .container {
    padding: 0 100px;
  }

  .transfers__list--active {
    width: 100%;
    max-width: 85%;
  }

  .transfers__content {
    padding-top: 14px;
  }

  .transfers__container {
    flex-wrap: unset;
  }

 .transfers__item:not(:nth-child(3n)) {
    margin-right: 0;
 }

  .transfers__item:not(:nth-child(2n)) {
      margin-right: 29px;
  }

  .transfers__item {
    width: calc((100% - (var(--gap30)) * 1) / 2);
  }

  .header__top {
    display: block;
    padding: 23px 0 18px 0;
  }

  .header__logo-middle {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 59px;
}

  .nav {
    margin-right: 34px;
}

.nav__link:focus{
  color: var(--color-bg_btn);
}

.header__bottom-item:not(:last-child) {
  margin-right: 28px;
}

.header__bottom-list {
  margin-right: 36px;
}

.header__bottom-btn {
  min-width: 151px;
  height: 42px;
}

.header__search:focus svg {
  stroke: var(--color-primary_light);
}

.header__bottom-age {
  display: none;
}

.header__bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__modal-content {
  right: 11px;
}

.header__bottom-link:focus {
  color: var(--color-bg_btn);
}

.header__modal-btn:focus {
  background-color: var(--color-text_black);
  color: var(--color-text_white);
}

.header__bottom-btn:focus svg {
  fill: var(--color-bg_btn);
}

.hero__descr {
  max-width: 543px;
  margin-bottom: 47px;
}

.hero__item-icon {
  padding-top: 80px;
}

.hero {
    padding-bottom: 85px;
}

.hero__link:focus {
  background-color: var(--color-primary_light);
}

.podcast {
  padding-top: 97px;
}

.podcasts__card {
  width: 396px;
  height: 140px;
}

.card-content__text {
  margin-right: 0;
  padding: 23px 0 0 31px;
}

.card-content__stat {
  padding: 9px 11px 6px 29px;
}

.podcasts__card img {
  flex-shrink: 0;
}

.card-content {
    width: 0;
    width: 254px;
}

.card-content__descr {
  padding-right: 0;
}

.podcast__list  {
  margin-bottom: 31px;
}

.card-content__btnplay:focus svg circle {
  stroke: var(--color-bg_btn);
}


.card-content__btnplay:focus svg path {
  stroke: var(--color-bg_btn);
  fill: var(--color-bg_btn);
}

.card-content__btnplay .pause:focus circle {
  stroke: var(--color-text_grey);
}

.transfers {
  padding-top: 95px;
  padding-bottom: 61px;
}

.transfers__list--active {
  max-width: none;
}

.guests__title {
  margin-bottom: 16px;
}

.guesta__descr {
  width: 566px;
}

.descr-stat__info:focus svg {
  fill: var(--color-bg_btn);
}

.descr-stat__info:focus span {
  color: var(--color-bg_btn);
}

.podcast__btn:focus {
  background-color: var(--color-bg_btn);
  color: var(--color-text_white);
  outline: none;
}

.choices[data-type*=select-one]:focus {
  outline: 1px solid var(--color-bg_btn);
  background-color: var(--color-bg_selection);
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.ransfers__archive-link:focus {
  background-color: var(--color-text_black);
  color: var(--color-text_white);
}

.ransfers__archive-link:focus {
  background-color: var(--color-text_black);
  color: var(--color-text_white);
}

.guests__accordion-item {
  width: 540px;
}

.guests-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.guests__accordion-list {
  width: unset;
}
.ransfers__archive-link:focus {
  background-color: var(--color-text_black);
  color: var(--color-text_white);
}

.guests-list__btn:focus {
  color: var(--color-bg_btn);
}

.guests__accordion-item:focus .guests__accordion-svg circle {
  stroke: var(--color-primary_light);
}

.social-links__item:not(:nth-child(3n))  {
  margin-bottom: 7px;
}

.guests__cards-descr {
  width: 254px;
}

.playlists__container {
  display: flex;
  flex-direction: column;
}

.palylists__form-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}

.palylists__label {
  width: 325px;
}

.palylists__content-item {
  display: flex;
  width: 255px;
  height: 112px;
}

.palylists-span__custom:focus::before  {
  border: 2px solid var(--color-bg_btn);
}

.palylists__content-item  {
  width: calc((100% - (var(--gap30) * 2)) / 3);
}

.palylists__content-descr {
  width: 140px;
  height: 111px;
  padding: 38px 7px;
}
.palylists__content-item:focus .palylists__content-descr {
  background-color: var(--color-bg_btn);
}

.palylists__content-item:focus .palylists__content-title {
  color: var(--color-text_white);
}

.palylists__content-item:focus svg {
  opacity: 1;
}

.palylists__content-item:focus::before {
  opacity: 0.8;
}

.palylists__content-item:not(:nth-child(4n)) {
  margin-right: unset;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: var(--gap30);
}

.palylists__content {
  padding-top: 0;
  width: 100%;
  height: 539px;
}

.palylists__descr {
  position: absolute;
  top: 899px;
  max-width: 790px;
}

.palylists__descr::before {
  display: block;
  position: absolute;
  top: -39px;
  content: "";
  border-top: 1px solid var(--color-shade_grey);
  width: 819px;
  height: 1px;
}

.palylists__form {
  border-bottom: unset;
}

.palylists__content-item::before {
  bottom: 0px;
  right: 141px;
}

.palylists__content-item svg {
  top: 25px;
  left: 31px;
}

.rus::after {
  left: 0;
}

.eng::after {
  left: 0;
}

.usa::after {
  left: 0;
}

.playlists {
  padding-bottom: 188px;
}

.with-us {
  padding-top: 89px;
  padding-bottom: 104px;
}

.swiper {
  min-width: 394px;
  height: 631px;
  padding-top: 129px;
}

.with-us__swiper::before {
  width: 100px;
  height: 100px;
  top: 123px;
  background-image: url(../img/new100x100.svg);
}

.with-us__content {
  width: 632px;
  height: 600px;
}

.with-us__title {
  margin-bottom: 53px;
}

.with-us__price {
  margin-bottom: 58px;
}

.with-us__title::before {
  top: 118px;
  width: 397px;
}

.with-us__link:focus {
  background-color: var(--color-promo);
  color: var(--color-text_black);
  border: none;
}

.abaut-us__form-textarea:focus {
  background-color: #292E39;
}

.abaut-us__form-input:focus {
  background-color: #292E39;
}

.abaut-us__form-btn:focus {
  background-color: var(--color-primary_light);
  border: unset;
}

.social__links-bloger:focus svg {
  fill: var(--color-bg_btn);
}

.guests__cards-btn:focus {
  background-color: var(--color-bg_btn);
  color: var(--color-text_white);
  outline: none;
  border: none;
}

.abaut-us__guest-item:nth-child(n +3) {
  display: none;
}


.abaut-us__guest-item {
  width: calc((100% - (var(--gap30) ))/ 2);
}

.abaut-us__guest-item:not(:nth-child(4n)) {
  margin-right: unset;
}

.abaut-us__guest-item:not(:nth-child(2n)) {
  margin-right: 35px;
}

.abaut-us__guest-list {
  flex-wrap: unset;
}

.abaut-us__card-descr {
  max-width: 397px;
}

.abaut-us__container::before {
  top: 50px;
  right: 100px;
  width: 255px;
  height: 255px;
  background-image: url(../img/about-usIcon1024.svg);
}

.abaut-us__text {
  display: inherit;
  width: 539px;
}

.abaut-us__descr {
  display: inherit;
  width: 518px;
  margin-bottom: 29px;
}

.abaut-us__form-textarea {
  width: 824px;
  height: 154px;
}

.abaut-us__form-input {
  width: 397px;
}

.footer {
  padding-top: 91px;
  padding-bottom: 8px;
}

.footer::before {
  width: 1160px;
  right: 19px;
}

.footer__link-left:focus svg {
  fill: var(--color-bg_btn);
}

.footer__link-right:focus {
  color: var(--color-bg_btn);
}

}

@media(max-width: 992px) {

  .container {
    padding: 0 160px;
 }

 .nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 400px;
  margin-top: 54px;
  padding: 114px 106px;
  z-index: 1000;
  background: #D2D5DD;
  overflow-anchor: auto;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav .nav__list {
  position: relative;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  height: 188px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.nav__item {
 margin-bottom: 64px;
}

.nav__item:not(:last-child) {
  margin-right: 48px;
}

.header__burger {
    display: block;
    z-index: 1001;
  }

  .nav__item::before {
    content: "";
    position: absolute;
    top: -13px;
    right: -131px;
    width: 115px;
    height: 288px;
    background-image: url(../img/burgerIcon.svg);
    background-repeat: no-repeat;
  }

  .nav__item::after {
    content: "";
    position: absolute;
    top: -104px;
    right: -294px;
    width: 115px;
    height: 288px;
    background-image: url(../img/burgerIcon.svg);
    background-repeat: no-repeat;
  }

  .nav-active {
    visibility: visible;
    transform: none;
  }

  .header__burger-active
  .header__burger-line:nth-child(2) {
    opacity: 0;
  }

  .header__burger-active
  .header__burger-line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .header__burger-active
  .header__burger-line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .header__burger-line:focus {
    background-color:  #AA9DFA;
  }

.header__modal-content {
  width: 539px;
  height: 635px;
  right: 24px;
  padding: 40px;
}

.header__modal-descr {
  width: 472px;
}

.header__modal-input {
  width: 459px;
}

.header__bottom-btntwo {
  display: none;
}


.header__bottom-btn::after,
.header__bottom-btn::before {
  display: none;
}

.header__bottom-btn {
  min-width: unset;
  border-left: unset;
  border-right: unset;
}

.header__bottom-btn svg {
  top: 10px;
  left: -5px;
}

.header__bottom-btn .pause {
  top: 8.1px;
  left: -7.1px;
}

.header__bottom-item:not(:last-child) {
  margin-right: 29px;
}

.header__bottom-list {
  margin-right: 31px;
}

.hero__item-icon {
  display: none;
}

.hero {
  padding-bottom: 113px;
}

.podcast__item {
  width: calc((100% - (var(--gap30)))/ 1);
}

.podcast__item:not(:nth-child(2n)) {
  margin-right: 0;
}

.podcasts__card {
  position: relative;
  width: 540px;
}


.card-content__btnplay svg {
  left: 300%;
}

.card-content__descr {
  border-bottom: none;
}

.card-content__stat {
  width: 430px;
  border-top: 1px solid var(--color-bg_selection);
}

.descr-stat__info svg {
  margin-right: 3px;
}

.transfers__container {
  flex-direction: column;
}

.transfers__content {
  padding: 0;
}

.transfers__menu {
  margin-right: 0;
  margin-bottom: 51px;
}

.transfers__archive {
  position: absolute;
  right: 210px;
  bottom: -159px;
}

.transfers__container .transfers__archive {
  top: unset;
}

.transfers__archive-icon {
  display: none;
}

.transfers {
  padding-bottom: 187px;
}

.ransfers__archive-link::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: -89px;
  width: 70px;
  height: 96px;
  background-image: url(../img/mic-min.png);
  background-repeat: no-repeat;
}

.transfers__text {
  margin-bottom: 3px;
}

.choices__list--single {
  padding: 4px 16px 4px 1px;
}

.guests-list__btn:not(:nth-child(15n)) {
  margin-bottom: 27px;
}

.ui-accordion .ui-accordion-content {
  padding: 26px 0px 4px 0;
}

.guesta__accordion {
  flex-direction: column;
}

.guests__accordion-list {
  margin-right: 0;
  margin-bottom: 39px;
}

.guests {
  padding-bottom: 380px;
}

.guests__cards-descr {
  width: 393px;
}

.palylists__label:not(:last-child) {
  margin-bottom: 39px;
}

.palylists__form {
  padding-bottom: 35px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 0;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: var(--gap30);
}

.palylists__content-item {
  width: calc((100% - (var(--gap30) * 1)) / 2);
}

.palylists__descr {
  top: 1246px;
  max-width: 546px;
}

.playlists {
  padding-bottom: 496px;
}

.palylists__descr::before {
  width: 534px;
}

.palylists__content-item svg {
    top: 34px;
    left: 33px;
}

.palylists__content-item::before {
  bottom: 0;
  top: 0;
  right: 142px;
}

.with-us__swiper {
  width: 425px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.with-us__swiper {
  padding-top: 0;
}


.with-us {
  padding-top: 55px;
  padding-bottom: 45px;
}

.with-us__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.with-us__swiper::before {
  width: 100px;
  height: 100px;
  top: 0;
  background-image: url(../img/new100x100.svg);
}

.with-us__title::before {
  right: 43px;
}

.with-us__text,
.with-us__text-two {
  width: 540px;
}

.abaut-us__descr {
  padding-bottom: 141px;
}

.abaut-us__form-textarea {
  width: 100%;
}

.abaut-us__form-wrapper {
  flex-direction: column;
  margin-bottom: 0;
}

.abaut-us__form-input {
  width: 100%;
}

.abaut-us__form-input:nth-child(1) {
  margin-right: 0;
  margin-bottom: var(--gap30);
}

.abaut-us__form-btn {
  margin-bottom: 27px;
}

.abaut-us__container::before {
  background-image: unset;
}

.abaut-us__container::before {
  top: 379px;
  width: 669px;
  height: 119px;
  background-image: url(../img/abautUsIcon768.svg);
}

.footer__top {
  flex-direction: column;
  align-items: center;
}

.footer__top-left {
  margin-right: 0;
  padding-bottom: 83px;
}

.footer__top-logo {
  margin-bottom: 22px;
}

.footer__item-left:not(:nth-child(3n)) {
  margin-right: 39px;
}

.footer__top-right {
  max-width: 550px;
}

.footer__nav-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 142px;
  -moz-column-gap: 142px;
  column-gap: 142px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 26px;
}

.footer__top {
  margin-bottom: 101px;
}

.footer::before {
  right: 0;
  top: 436px;
}

.container {
  padding: 0 114px;

}

}

@media(max-width: 683px) {

  .container {
    padding: 0 32px;
}

.header__bottom-list {
  margin-right: 0;
}

.header__bottom-players  {
  margin-right: 0;
}

.header__bottom-btn::after,
.header__bottom-btn::before {
  display: block;
}

.header__bottom-btntwo {
  display: block;
  border-left: 1px solid var(--color-bg_selection);
}

.header__bottom-btn {
  min-width: 151px;
}

.nav__item::before,
.nav__item::after {
  display: none;
}

.header__bottom-list {
  position: absolute;
  display: block;
  top: 382px;
  left: 0;
  width: 320px;
  height: 58vh;
  padding: 30px 32px;
  z-index: 1000;
  box-shadow: 0 0 5px #888;
  background: #fff;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 75px;
  -moz-column-gap: 75px;
  column-gap: 75px;
  overflow-anchor:auto;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__bottom-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: var(--gap30);
}

.nav-active {
  visibility: visible;
  transform: none;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 327px;
  padding: 86px 30px 24px 45px;
}

.nav__item:nth-child(4) {
  padding-top: 40px;
}

.header__modal-btn {
  position: absolute;
  top: 7px;
  right: 60px;
}

.header__bottom-reveal {
  display: block;
}

.header__bottom-players {
  position: absolute;
  top: 172px;
  left: 131px;
  background: #fff;
  transform: translateY(-77%);
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__bottom-container {
  justify-content: center;
}

.header__bottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__bottom-btn {
  height: 63px;
}

.header__bottom-btn::before  {
  top: 25px;
}

.header__bottom-btn svg {
  top: 3px;
  left: 39px;
}

.header__bottom-btn .pause {
  top: 1px;
  left: 37px;
}

.header__players-active {
  visibility: visible;
  transform: none;
}

.header__bottom-plus {
  transition: transform 0.3s ease-in-out;
}

.header__bottom-plus-active {
  transform: rotate(-45deg);
}

.podcasts__card {
  width: 100%;
}

.podcast__list {
  width: 100%;
}

.card-content__btnplay svg {
  left: 146%;
}

.guesta__descr {
  width: 467px;
}

.guests__accordion-item {
  width: 100%;
}

.guests-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 278px;
  -moz-column-gap: 278px;
  column-gap: 278px;
}

.guests-list__btn {
  font-size: 14px;
  font-size: 14px;
  display: flex;
  text-align: start;
}

.guests__list-item:not(:last-child) {
  margin-bottom: 27px;
}

.guests-list__btn:not(:nth-child(15n)) {
  margin-bottom: 0;
}

.social__links-bloger svg {
  width: 36px;
  height: 36px;
}

.header__modal-content {
  width: 256px;
  height: 452px;
  padding: 20px 20px 40px 20px;
  right: 131px;
}

.header__modal-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.header__modal-close {
  width: 28px;
  height: 28px;
}

.header__modal-descr {
  width: 164px;
  font-size: 12px;
  margin-bottom: 20px;
}

.header__modal-link  {
  font-size: 12px;
}

.header__modal-input {
  width: 216px;
  height: 40px;
  font-size: 16px;
}

.header__modal-button {
  min-width: 160px;
  height: 40px;
  padding: 17px 43px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
}

.header__modal-text {
  font-size: 12px;
  color: #A1A6B4;
}

.header__modal-list {
  margin-top: 0;
}

.palylists__genre {
  width: 100%;
  margin-right: 0;
}

.palylists__content-item {
  flex-direction: column;
}

.palylists__content-item {
  width: 0;
  width: 113px;
  height: 159px;
  margin-bottom: 30px;
}

.palylists__content-descr {
  width: 113px;
  height: 46px;
  padding: 10px 10px;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.palylists__content-title {
  font-size: 12px;
  margin-bottom: 5px;
}

.palylists__content-text {
  display: block;
  font-size: 9px;
  width: 93px;
}

.palylists__content-item::before {
  bottom: 46px;
  top: 0px;
  right: 182px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 40px;
}

.palylists__descr::before {
  width: 480px;
}

.palylists__descr {
  top: 1150px;
  max-width: 546px;
}

.playlists {
  padding-bottom: 359px;
}

.with-us__swiper {
  width: 420px;
}

.with-us__swiper::before {
  top: 0;
  background-image: url(../img/new100x100.svg);
  width: 100px;
  height: 100px;
}

.with-us__text, .with-us__text-two {
  width: 434px;
}

.abaut-us__text {
  width: 523px;
}

.palylists__form  {
  width: 290px;
}

.abaut-us__container::before {
  background-image: none;
}

.abaut-us__descr {
  padding-bottom: 35px;
}

.footer__top-left {
  margin-right: 0;
  padding-bottom: 83px;
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top-logo {
  width: 160px;
  height: 20px;
}

.footer__top-right {
  padding-top: 40px;
  max-width: 100%;
  height: 216px;
}

.footer::before {
  right: 0;
  top: 661px;
}

.footer__link-left svg {
  width: 36px;
  height: 36px;
}

.footer::before {
  top: 501px;
}

}

@media(max-width: 576px) {

  .header__modal-btn {
    min-width: 87px;
    height: 35px;
    top: 9px;
    right: 31px;
    padding: 9px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .header__modal-content {
    top: -30px;
    right: 133px;
    z-index: 2000;
  }

  .header__bottom-reveal {
    border: none;
    width: 130px;
    background: #FFFFFF;
  }

  .header__bottom-players {
      top: 149px;
      left: 140px;
  }

  .header__search-input-activ  {
    width: 166px;
  }

  .header__search {
    margin-right: 0;
  }

  .header__top {
    padding: 20px 0 16px 0;
}

  .header__middle {
    padding: 13px 0 10px 0;
 }

 .hero__title {
   margin-bottom: 8px;
  font-size: 32px;
 }

 .hero__descr {
  min-width: 256px;
  margin-bottom: 20px;
  font-size: 14px;
 }

 .hero__link {
  display: flex;
  align-items: center;
  min-width: 0  ;
  width: 200px;
  height: 50px;
  padding: 17px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
 }

 .hero__item-descr {
  padding-top: 42px;
}

.card-content__btnplay svg {
  width: 36px;
  height: 36px;
  left: -58%;
}

.podcasts__item-date  {
  top: 0;
}

.podcasts__card {
  width: 256px;
  height: 185px;
  flex-direction: column;
}

.card-content__stat {
  width: 100%;
  padding: 6px 11px 6px 34px;
}


.card-content__title {
  font-size: 16px;
  line-height: 16px;
}

.card-content__author {
  font-size: 12px;
  line-height: 12px;
}

.podcast__titile {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 20px;
}

.card-content__btnplay svg {
  left: 0;
}

.hero {
  padding-bottom: 39px;
}

.podcast {
  padding-top: 55px;
  padding-bottom: 53px;
}

.card-content__text {
  padding: 16px 0 0 16px;
  margin-bottom: 10px;
}

.descr-stat__info:not(:last-child) {
  margin-right: 22px;
}

.podcast__item:nth-child(n +5) {
  display: none;
}

.podcast__list .podcast__item--visibility {
  display: block;
  margin-bottom: 30px;
}

.podcast__btn {
  min-width: 170px;
  height: 50px;
  align-items: center;
  padding: 17px 30px;
  font-size: 16px;
  line-height: 16px;
}

.podcast__list {
  margin-bottom: 0px;
}

.podcast__item {
  display: flex;
  justify-content: center;
}

.podcast__titile {
  font-size: 36px;
}

.podcast__list .podcast__item--visibility {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card-content__title {
  font-size: 20px;
  line-height: 20px;
}

.card-content__author {
  font-size: 16px;
  line-height: 16px;
}

.transfers__title {
  font-size: 24px;
  line-height: 100%;
}

.transfers__text {
  font-size: 12px;
}

.transfers__item {
  height: 235px;
}

.transfers__card-descr {
  padding: 10px;
  height: 99px;
}

.transfers__card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px
}

.transfers__card-subtitle {
  width: 90px;
  height: 18px;
  display: flex;
  font-size: 9px;
  line-height: 9px;
  margin-bottom: 30px;
}

.transfers__card-source  {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-style: italic;
  color: #6D31EE;
}

.transfers__card-source  svg {
  fill:  #6D31EE;
}

.transfers  {
  padding-top: 56px;
  padding-bottom: 165px;
}

.transfers__menu  {
  margin-bottom: 35px;
}

.transfers__card img {
  display: block;
}

.transfers__container .transfers__archive {
  flex-direction: column-reverse;
  width: auto;
}

.transfers__archive {
  right: 146px;
  bottom: -139px;
}

.transfers__archive-descr {
  width: 166px;
  height: 63px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.ransfers__archive-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 35px;
  padding: 17px 43px;
  margin-bottom: 0;
  margin-top: 10px;
}

.ransfers__archive-link::before {
  top: 10px;
  left: -85px;
}

.guests__title  {
  font-size: 24px;
  margin-bottom: 12px;
}

.guests__text {
  font-size: 14px;
}

.guesta__descr {
  max-width: 256px;
  font-size: 14px;
  line-height: 160%;
}

.guests-list {
  column-gap: 33px;
}

.guests__cards-descr {
    min-width: 255px;
    height: 187px;
}

.guests__accordion-list {
  margin-bottom: 25px;
}

.ui-accordion .ui-accordion-header  {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.ui-accordion-header-active~svg {
  width: 30px;
  height: 30px;
}

.guests__accordion-svg {
  top: 12px;
  right: 0;
  width: 30px;
  height: 30px;
}

.guests__list-item .guests-list__btn {
  width: 101px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
}

.guests {
  padding-top: 56px;
}

.guesta__descr {
  max-width: 500px;
  margin-bottom: 26px;
}

.ui-accordion .ui-accordion-header  {
  padding-bottom: 20px;
}

.guests__accordion-item {
  padding-top: 8px;
}

.ui-accordion .ui-accordion-content {
  padding: 19px 0px 12px 0;
}

.social-links__item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.guests {
  padding-bottom: 464px;
}

.guests__cards-btn {
  min-width: 150px;
  height: 40px;
  padding: 9px 13px;
}

.palylists__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.palylists__text {
  font-size: 12px;
  line-height: 12px;
}

.palylists-span__custom::before {
  display: none;
}

.palylists__form-list {
  display: flex;
  -webkit-column-count: unset;
  -moz-column-count: unset;
  column-count: unset;
  -webkit-column-gap: unset;
  -moz-column-gap: unset;
  column-gap: unset;
}

.palylists__label .palylists-span__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 35px;
  margin: 0;
  padding: 17px 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 8px;
  color: #6D31EE;
  border: 2px solid #6D31EE;
  border-radius: 77px;
  user-select: none;
}

.palylists__label:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 0;
}

.palylists__form {
  overflow-anchor:auto;
  overflow: auto;
  width: 540px;
  margin-top: 3px;
  padding-bottom: 28px;
}


.playlists__container  {
  margin-top: 54px;
}

.palylists__title  {
  margin-bottom: 16px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 0;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.palylists__content-item {
  width: calc((100% - (var(--gap30))) * 1 / 2);
}

.palylists__descr {
  top: 1296px;
}

.palylists__text {
  font-size: 12px;
  line-height: 15px;
  width: 100%;
}

.palylists__subtext {
  font-size: 12px;
}

.palylists__descr::before {
  top: -33px;
  width: 93%;
}

.rus::after {
  left: unset;
}

.usa::after {
  left: unset;
}

.eng::after {
  left: unset;
}

.palylists__label .palylists-span__custom:focus {
  background: #6D31EE;
  color: #fff;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.playlists {
  padding-bottom: 722px;
}


.with-us__swiper::before {
  top: 0;
  background-image: url(../img/new62x62.svg);
  width: 100px;
  height: 100px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -83px;
  bottom: 19px;
}

.with-us__title {
  max-width: 100%;
  font-size: 24px;
  margin-bottom: 40px;
}

.with-us__swiper {
  width: 256px;
}

.with-us__swiper {
  padding-bottom: 45px;
}

.with-us__title::before {
  width: 100%;
  top: 41px;
  right: 6px;
}

.with-us__text, .with-us__text-two {
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.with-us__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 60px;
}

.with-us__text-two {
  margin-bottom: 50px;
}

.with-us__link {
  min-width: 0;
    width: 256px;
    height: 50px;
    padding: 17px 17px 17px 38px;
    font-size: 16px;
    display: block;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -5px;
  bottom: 6px;
}

.with-us__link svg {
  top: 14px;
}

.with-us__content {
  max-width: 510px;
  height: 543px;
  min-width: none;
}

.swiper {
  min-width: 0;
}

.abaut-us {
  padding-top: 56px;
  padding-bottom: 52px;
}

.abaut-us__title {
  font-size: 24px;
}

.abaut-us__text, .abaut-us__descr {
  width: 512px;
  font-size: 14px;
}

.abaut-us__text {
  margin-bottom: 4px;
}

.abaut-us__descr {
  padding-bottom: 0;
  margin-bottom: 26px;
}

.abaut-us__card-title {
  width: 100px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
}

.abaut-us__card-descr {
  font-size: 12px;
  line-height: 16px;
}

.abaut-us__form-textarea {
  height: 150px;
  padding: 16px 10px 10px 23px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input {
  height: 48px;
  padding: 25px 24px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input:nth-child(1) {
  margin-bottom: 29px;
}

.abaut-us__form-btn {
  min-width: 0;
  width: 172px;
  height: 50px;
  margin-bottom: 17px;
  padding: 17px 44px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-checkbox {
  font-size: 9px;
  line-height: 9px;
}

.abaut-us__form-checkbox::before {
  top: 3px;
  left: 1px;
  width: 11px;
  height: 11px;
}

.abaut-us__guest-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.abaut-us__guest-item:nth-child(n +3) {
  display: unset;
}

.abaut-us__guest-item:not(:last-child) {
  margin-right: 10px;
}

.abaut-us__guest {
  overflow-anchor:auto;
  overflow: auto;
  width: 541px;
  margin-bottom: 25px;
}

.abaut-us__guest-item {
  display: flex;
  flex-shrink: 0;
}

.abaut-us__form-inpbottom:checked + .abaut-us__form-checkbox::after  {
  top: 4px;
}

.palylists__content {
  padding-top: 0;
  width: 100%;
  height: 539px;
}

.palylists__content-list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 67px;
}

.palylists__content-item {
  width: 113px;
  height: 159px;
}

.footer {
  padding-top: 53px;
}

.footer__item-left:not(:nth-child(3n)) {
  margin-right: 21px;
}

.footer__link-right {
  font-size: 12px;
  line-height: 12px;
}

.footer__nav-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 177px;
  -moz-column-gap: 177px;
  column-gap: 177px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 0;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__top-right {
  padding-top: 20px;
  padding-right: 0;
  z-index: 1;
}

.footer::after {
  position: absolute;
  top: 183px;
  left: 0;
  right: 0;
  content: '';
  height: 216px;
  background-color: var(--color-text_black);
}

.footer__bottom-name {
  font-size: 12px;
}

.footer__top {
  margin-bottom: 22px;
}

.footer::before {
  top: 408px;
  width: 570px;
  right: 3px;
}

}

@media (max-width: 480px) {
  .header__bottom-players {
    top: 170px;
    left: 93px;
}

.header__modal-content {
  top: -30px;
  right: 85px;
  z-index: 2000;
}

.podcast__item {
  display: flex;
  justify-content: center;
}

.podcast__titile {
  font-size: 36px;
}

.podcast__list .podcast__item--visibility {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.header__search-input-activ {
    width: 240px;
}

.guesta__descr {
  max-width: 420px;
}

.palylists__form {
  width: 445px;
}

.with-us__content {
  max-width: 424px;
}

.with-us__title {
  max-width: 343px;
}

.with-us__title::before {
  width: 338px;
  top: 39px;
}

.with-us__swiper {
  padding-bottom: 48px;
}

.with-us__text, .with-us__text-two {
  max-width: 393px;
}

.with-us__text-two {
  margin-bottom: 50px;
}

.with-us__price {
  margin-bottom: 56px;
}

.palylists__text  {
  width: 436px;
}

.palylists__descr::before {
  width: 402px;
}

.abaut-us__text, .abaut-us__descr {
  width: 377px;
}.header__modal-content

.abaut-us__guest-item:not(:last-child) {
  margin-right: 10px;
}

.abaut-us__guest {
  width: 444px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 28px;
}

.footer::before {
  top: 408px;
  width: 476px;
  right: 2px;
}


}

@media (max-width: 376px) {

  .header__bottom-players {
    top: 149px;
    left: 8px;
  }

  .header__modal-content {
    right: 0;
 }

 .podcast__titile {
  font-size: 24px;
}

.podcast__item {
  display: unset;
  justify-content: unset;
}

.card-content__title {
  font-size: 16px;
  line-height: 16px;
}

.card-content__author {
  font-size: 12px;
  line-height: 12px;
}

.header__search-input-activ {
  width: 186px;
}

.transfers__item {
  height: 149px;
}

.transfers__archive {
  right: 32px;
  bottom: -139px;
}

.guesta__descr {
  max-width: 256px;
  font-size: 14px;
  line-height: 160%;
}

.guests__cards-descr {
  width: 255px;
  height: 261px;
}

.palylists__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.palylists__text {
  font-size: 12px;
  line-height: 12px;
}

.palylists-span__custom::before {
  display: none;
}

.palylists__form-list {
  display: flex;
  -webkit-column-count: unset;
  -moz-column-count: unset;
  column-count: unset;
  -webkit-column-gap: unset;
  -moz-column-gap: unset;
  column-gap: unset;
}

.palylists__label .palylists-span__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 35px;
  margin: 0;
  padding: 17px 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 8px;
  color: #6D31EE;
  border: 2px solid #6D31EE;
  border-radius: 77px;
  user-select: none;
}

.palylists__label:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 0;
}

.palylists__form {
  overflow-anchor:auto;
  overflow: auto;
  padding-bottom: 28px;
}

.palylists__descr::before {
  width: 250px;
}

.playlists__container  {
  margin-top: 54px;
}

.palylists__title  {
  margin-bottom: 16px;
}

.palylists__form  {
  width: 286px;
  margin-top: 3px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 0;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.palylists__content-item {
  width: calc((100% - (var(--gap30))) * 1 / 2);
}

.palylists__descr {
  top: 1296px;
}

.palylists__text {
  font-size: 12px;
  line-height: 15px;
  width: 256px;
}

.palylists__subtext {
  font-size: 12px;
}

.palylists__descr::before {
  top: -33px;
}

.rus::after {
  left: unset;
  right: 26px;
}

.usa::after {
  left: unset;
  right: 26px;
}

.eng::after {
  left: unset;
  right: 26px;
}

.palylists__label .palylists-span__custom:focus {
  background: #6D31EE;
  color: #fff;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.playlists {
  padding-bottom: 722px;
}


.with-us__swiper::before {
  top: 0;
  background-image: url(../img/new62x62.svg);
  width: 100px;
  height: 100px;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -83px;
  bottom: 19px;
}

.with-us__title {
  max-width: 256px;
  font-size: 24px;
  margin-bottom: 40px;
}

.with-us__swiper {
  width: 256px;
}

.with-us__swiper {
  padding-bottom: 31px;
}

.with-us__title::before {
  width: 254px;
  top: 59px;
  right: 6px;
}

.with-us__text, .with-us__text-two {
  max-width: 256px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.with-us__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.with-us__text-two {
  margin-bottom: 5px;
}

.with-us__link {
  min-width: 0;
    width: 256px;
    height: 50px;
    padding: 17px 17px 17px 38px;
    font-size: 16px;
    display: block;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -5px;
  bottom: 6px;
}

.with-us__link svg {
  top: 14px;
}

.with-us__content {
  max-width: 256px;
  height: 543px;
  min-width: none;
}

.swiper {
  min-width: 0;
}

.abaut-us {
  padding-top: 56px;
  padding-bottom: 52px;
}

.abaut-us__title {
  font-size: 24px;
}

.abaut-us__text, .abaut-us__descr {
  width: 256px;
  font-size: 14px;
}

.abaut-us__text {
  margin-bottom: 4px;
}

.abaut-us__descr {
  padding-bottom: 0;
  margin-bottom: 26px;
}

.abaut-us__card-title {
  width: 100px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
}

.abaut-us__card-descr {
  font-size: 12px;
  line-height: 16px;
}

.abaut-us__form-textarea {
  height: 150px;
  padding: 16px 10px 10px 23px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input {
  height: 48px;
  padding: 25px 24px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input:nth-child(1) {
  margin-bottom: 29px;
}

.abaut-us__form-btn {
  min-width: 0;
  width: 172px;
  height: 50px;
  margin-bottom: 17px;
  padding: 17px 44px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-checkbox {
  font-size: 9px;
  line-height: 9px;
}

.abaut-us__form-checkbox::before {
  top: 3px;
  left: 1px;
  width: 11px;
  height: 11px;
}

.abaut-us__guest-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.abaut-us__guest-item:nth-child(n +3) {
  display: unset;
}

.abaut-us__guest-item:not(:last-child) {
  margin-right: 5px;
}

.abaut-us__guest {
  margin-bottom: 25px;
  overflow-anchor:auto;
  overflow: auto;
  width: 286px;
}

.abaut-us__guest-item {
  display: flex;
  flex-shrink: 0;
}

.abaut-us__form-inpbottom:checked + .abaut-us__form-checkbox::after  {
  top: 4px;
}

.footer {
  padding-top: 53px;
}

.footer__item-left:not(:nth-child(3n)) {
  margin-right: 21px;
}

.footer__link-right {
  font-size: 12px;
  line-height: 12px;
}

.footer__nav-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 79px;
  -moz-column-gap: 79px;
  column-gap: 79px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 0;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__top-right {
  padding-top: 20px;
  padding-right: 47px;
  z-index: 1;
}

.footer::after {
  position: absolute;
  top: 183px;
  left: 0;
  right: 0;
  content: '';
  height: 216px;
  background-color: var(--color-text_black);
}

.footer__bottom-name {
  font-size: 12px;
}

.footer__top {
  margin-bottom: 22px;
}

.footer::before {
  top: 408px;
  width: 315px;
  right: 4px;
}

.header__modal-content {
  right: 21px;
}

.header__bottom-players {
  left: 23px;
}

.nav, .header__bottom-list {
  width: 358px;
}

.palylists__form {
  width: 325px;
}

.abaut-us__text, .abaut-us__descr {
  width: 307px;
}

.abaut-us__guest {
  width: 327px;
}

.with-us__text, .with-us__text-two {
  max-width: 310px;
}

.with-us__text-two {
  margin-bottom: 22px;
}

.footer::before {
  right: 26px;
}





}

@media (max-width: 320px) {
  .header__bottom-players {
    top: 149px;
    left: 8px;
  }

  .header__modal-content {
    right: 0;
 }

 .podcast__titile {
  font-size: 24px;
}

.podcast__item {
  display: unset;
  justify-content: unset;
}

.card-content__title {
  font-size: 16px;
  line-height: 16px;
}

.card-content__author {
  font-size: 12px;
  line-height: 12px;
}

.header__search-input-activ {
  width: 186px;
}

.transfers__item {
  height: 149px;
}

.transfers__archive {
  right: 32px;
  bottom: -139px;
}

.guesta__descr {
  max-width: 256px;
  font-size: 14px;
  line-height: 160%;
}

.guests__cards-descr {
  width: 255px;
  height: 261px;
}

.palylists__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.palylists__text {
  font-size: 12px;
  line-height: 12px;
}

.palylists-span__custom::before {
  display: none;
}

.palylists__form-list {
  display: flex;
  -webkit-column-count: unset;
  -moz-column-count: unset;
  column-count: unset;
  -webkit-column-gap: unset;
  -moz-column-gap: unset;
  column-gap: unset;
}

.palylists__label .palylists-span__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 35px;
  margin: 0;
  padding: 17px 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 8px;
  color: #6D31EE;
  border: 2px solid #6D31EE;
  border-radius: 77px;
  user-select: none;
}

.palylists__label:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 0;
}

.palylists__form {
  overflow-anchor:auto;
  overflow: auto;
  padding-bottom: 28px;
}

.palylists__descr::before {
  width: 250px;
}

.playlists__container  {
  margin-top: 54px;
}

.palylists__title  {
  margin-bottom: 16px;
}

.palylists__form  {
  width: 286px;
  margin-top: 3px;
}

.palylists__content-item:not(:nth-child(3n)) {
  margin-right: 0;
}

.palylists__content-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.palylists__content-item {
  width: calc((100% - (var(--gap30))) * 1 / 2);
}

.palylists__descr {
  top: 1296px;
}

.palylists__text {
  font-size: 12px;
  line-height: 15px;
  width: 256px;
}

.palylists__subtext {
  font-size: 12px;
}

.palylists__descr::before {
  top: -33px;
}

.rus::after {
  left: unset;
}

.usa::after {
  left: unset;
}

.eng::after {
  left: unset;
}

.palylists__label .palylists-span__custom:focus {
  background: #6D31EE;
  color: #fff;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.playlists {
  padding-bottom: 722px;
}


.with-us__swiper::before {
  top: 0;
  background-image: url(../img/new62x62.svg);
  width: 100px;
  height: 100px;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -83px;
  bottom: 19px;
}

.with-us__title {
  max-width: 256px;
  font-size: 24px;
  margin-bottom: 40px;
}

.with-us__swiper {
  width: 256px;
}

.with-us__swiper {
  padding-bottom: 31px;
}

.with-us__title::before {
  width: 254px;
  top: 59px;
  right: 6px;
}

.with-us__text, .with-us__text-two {
  max-width: 256px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.with-us__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.with-us__text-two {
  margin-bottom: 5px;
}

.with-us__link {
  min-width: 0;
    width: 256px;
    height: 50px;
    padding: 17px 17px 17px 38px;
    font-size: 16px;
    display: block;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: -5px;
  bottom: 6px;
}

.with-us__link svg {
  top: 14px;
}

.with-us__content {
  max-width: 256px;
  height: 543px;
  min-width: none;
}

.swiper {
  min-width: 0;
}

.abaut-us {
  padding-top: 56px;
  padding-bottom: 52px;
}

.abaut-us__title {
  font-size: 24px;
}

.abaut-us__text, .abaut-us__descr {
  width: 256px;
  font-size: 14px;
}

.abaut-us__text {
  margin-bottom: 4px;
}

.abaut-us__descr {
  padding-bottom: 0;
  margin-bottom: 26px;
}

.abaut-us__card-title {
  width: 100px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
}

.abaut-us__card-descr {
  font-size: 12px;
  line-height: 16px;
}

.abaut-us__form-textarea {
  height: 150px;
  padding: 16px 10px 10px 23px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input {
  height: 48px;
  padding: 25px 24px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-input:nth-child(1) {
  margin-bottom: 29px;
}

.abaut-us__form-btn {
  min-width: 0;
  width: 172px;
  height: 50px;
  margin-bottom: 17px;
  padding: 17px 44px;
  font-size: 16px;
  line-height: 16px;
}

.abaut-us__form-checkbox {
  font-size: 9px;
  line-height: 9px;
}

.abaut-us__form-checkbox::before {
  top: 3px;
  left: 1px;
  width: 11px;
  height: 11px;
}

.abaut-us__guest-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.abaut-us__guest-item:nth-child(n +3) {
  display: unset;
}

.abaut-us__guest-item:not(:last-child) {
  margin-right: 5px;
}

.abaut-us__guest {
  margin-bottom: 25px;
  overflow-anchor:auto;
  overflow: auto;
  width: 286px;
}

.abaut-us__guest-item {
  display: flex;
  flex-shrink: 0;
}

.abaut-us__form-inpbottom:checked + .abaut-us__form-checkbox::after  {
  top: 4px;
}

.footer {
  padding-top: 53px;
}

.footer__item-left:not(:nth-child(3n)) {
  margin-right: 21px;
}

.footer__link-right {
  font-size: 12px;
  line-height: 12px;
}

.footer__nav-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 79px;
  -moz-column-gap: 79px;
  column-gap: 79px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 0;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__top-right {
  padding-top: 20px;
  padding-right: 47px;
  z-index: 1;
}

.footer::after {
  position: absolute;
  top: 183px;
  left: 0;
  right: 0;
  content: '';
  height: 216px;
  background-color: var(--color-text_black);
}

.footer__bottom-name {
  font-size: 12px;
}

.footer__top {
  margin-bottom: 22px;
}

.footer::before {
  top: 408px;
  width: 315px;
  right: 4px;
}

}


